<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Error Page</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.1.3/css/bootstrap.min.css">
    <style>
        .container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        .btn-container {
            margin-top: 20px;
        }
    </style>
</head>
<body>
<div class="container">
    <h1 class="h1">Ошибка!</h1>
    <div class="btn-container">
        <form th:action="@{'/clients/home/' + ${session.clientId}}" method="get">
            <button type="submit" class="btn btn-warning">Home</button>
        </form>
    </div>
</div>
</body>
</html>