<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Transfers</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<header>
    <div th:insert="~{adminHeader :: admin-header}"></div>
</header>
<body>
<div class="container mt6-m">
    <div class="row justify-content-center mt-5">
        <div class="col-md-6">
            <h4>Filter</h4>
            <form action="/transfers/transfers">
                <div class="form-row align-items-xl-center">
                    <div class="col-auto">
                        <input class="form-control" name="id" placeholder="id transfer" th:value="${filter.id()}"
                               type="number">
                    </div>
                    <div class="col-auto">
                        <input class="form-control" name="clientId" placeholder="client Id"
                               th:value="${filter.clientId()}" type="number">
                    </div>
                    <div class="col-auto">
                        <input class="form-control" name="cardNoFrom" placeholder="card no from"
                               th:value="${filter.cardNoFrom()}" type="number">
                    </div>
                    <div class="col-auto">
                        <input class="form-control" name="cardNoTo" placeholder="card no to"
                               th:value="${filter.cardNoTo()}" type="number">
                    </div>
                    <div class="col-auto">
                        <input class="form-control" name="amount" placeholder="amount"
                               th:value="${filter.amount()}" type="number">
                    </div>
                    <div class="col-auto">
                        <input class="form-control" name="timeOfTransfer" th:value="${filter.timeOfTransfer()}"
                               type="datetime-local">
                    </div>
                    <div class="col-auto">
                        <input class="form-control" name="recipient" placeholder="recipient"
                               th:value="${filter.recipient()}" type="text">
                    </div>
                    <div class="col-auto">
                        <input class="form-control" name="message" placeholder="message"
                               th:value="${filter.message()}" type="text">
                    </div>
                    <div class="col-auto">
                        <input autocomplete="off" class="btn-check" id="status" name="status" type="radio"
                               value="SUCCESS">
                        <label class="btn btn-outline-success" for="status">Active</label>
                        <input autocomplete="off" class="btn-check" id="status1" name="status" type="radio"
                               value="FAILED">
                        <label class="btn btn-outline-danger" for="status1">Failed</label>
                    </div>
                    <div class="col-auto">
                        <label for="page">Page:</label>
                        <input class="form-control" id="page" name="page" th:value="${transfers.metadata.page}"
                               type="number">
                    </div>
                    <div class="col-auto">
                        <label for="size">Size:</label>
                        <select class="form-control" id="size" name="size" th:value="${transfers.metadata.size}">
                            <option value="5000">all</option>
                            <option value="5">5</option>
                            <option value="20">20</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                        </select>
                    </div>
                    <div class="col-auto">
                        <button class="btn btn-dark" type="submit">Filter</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="container">
    <h1>My transfers</h1>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Transfer id</th>
            <th>Client id</th>
            <th>Card id from</th>
            <th>Card id to</th>
            <th>Amount</th>
            <th>Time</th>
            <th>Recipient</th>
            <th>Message</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="transfer : ${transfers.content}">
            <td th:text="${transfer.id()}"></td>
            <td th:text="${transfer.clientId()}"></td>
            <td th:text="${transfer.cardIdFrom()}"></td>
            <td th:text="${transfer.cardIdTo()}"></td>
            <td th:text="${transfer.amount()}"></td>
            <td th:text="${transfer.timeOfTransfer()}"></td>
            <td th:text="${transfer.recipient()}"></td>
            <td th:text="${transfer.message()}"></td>
            <td th:class="${transfer.status().name()  ==  'SUCCESS' ? 'text-success' : 'text-danger'}"
                th:text="${transfer.status().name()}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>