<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .btn-filter {
            background-color: #007bff;
            color: #fff;
        }
    </style>
</head>
<body>
<div class="container mt6-m">
    <div class="row justify-content-center mt-5">
        <div class="col-md-6">
            <form action="/users">
                <div class="form-row align-items-xl-center">
                    <div class="col-auto">
                        <label for="login">Login:</label>
                        <input id="login" type="text" name="login" th:value="${filter.login()}" class="form-control">
                    </div>
                    <div class="col-auto">
                        <label for="page">Page:</label>
                        <input id="page" type="number" name="page" th:value="${users.metadata.page}"
                               class="form-control">
                    </div>
                    <div class="col-auto">
                        <label for="size">Size:</label>
                        <select id="size" name="size" th:value="${users.metadata.size}" class="form-control">
                            <option value="5">5</option>
                            <option value="20">20</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                        </select>
                    </div>
                    <div class="col-auto">
                        <button type="submit" class="btn btn-filter">Filter</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="container">
    <h1>Users list</h1>
    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Login</th>
            <th>Role</th>
            <th>Action</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users.content}">
            <td><a th:href="@{'/users/' + ${user.id}}" th:text="${user.getId()}"></a></td>
            <td><a th:href="@{'/users/' + ${user.id}}" th:text="${user.getLogin()}"></a></td>
            <td><a th:href="@{'/users/' + ${user.id}}" th:text="${user.getRole().name()}"
                   th:class="${user.getRole().name()  ==  'USER' ? 'text-success' : 'text-danger'}"></a></td>
            <td>
                <form th:action="@{/users/{userId}/delete(userId=${user.id})}" th:if="${user.role.name() == 'USER'}"
                      method="post">
                    <button type="submit" onclick="return confirmDelete()">Remove User</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script type="text/javascript">
    function confirmDelete() {
        return confirm("Are you sure you want to delete this user?" +
            "After this action, the client, all his cards and transaction history will be deleted in a cascade ");
    }
</script>
</body>
</html>


