<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Список платежей</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<style>
    .user-balance {
        flex-grow: 1; /* Занимает все доступное пространство в строке */
        text-align: center; /* Выравнивание текста по центру */
        color: #02f833;
        font-size: large;
    }
</style>
<header>
    <div th:insert="~{navbar :: navbar}"></div>
</header>

<body>
<div class="container">

    <div class="container mt6-m">
        <div class="row justify-content-center mt-5">
            <div class="col-md-6">
                <h4>Filter</h4>
                <form action="/payments/clientPayments" id="myForm">
                    <div class="form-row align-items-xl-center">
                        <div class="col-auto">
                            <input class="form-control" id="id" name="id" placeholder="id payment" th:value="${filter.id()}"
                                   type="number">
                        </div>
                        <div class="col-auto">
                            <input class="form-control" id="shopName" name="shopName" placeholder="shop name"
                                   th:value="${filter.shopName()}" type="text">
                        </div>
                        <div class="col-auto">
                            <input class="form-control" id="timeOfPay" name="timeOfPay"
                                   placeholder="time of pay"
                                   th:value="${filter.timeOfPay()}" type="datetime-local">
                        </div>
                        <div class="col-auto">
                            <input class="form-control" id="amount" name="amount" placeholder="amount"
                                   th:value="${filter.amount()}" type="number">
                        </div>
                        <div class="col-auto">
                            <input class="form-control" id="card" name="cardId" placeholder="paid by card"
                                   th:value="${filter.cardId()}"
                                   type="number">
                        </div>
                        <div class="col-auto">
                            <input autocomplete="off" class="btn-check" id="status" name="status" type="radio"
                                   value="SUCCESS">
                            <label class="btn btn-outline-success" for="status">Active</label>
                            <input autocomplete="off" class="btn-check" id="status1" name="status" type="radio"
                                   value="FAILED">
                            <label class="btn btn-outline-danger" for="status1">Failed</label>
                        </div>
                        <div class="col-auto">
                            <label for="page">Page:</label>
                            <input class="form-control" id="page" name="page" th:value="${payments.metadata.page}"
                                   type="number">
                        </div>
                        <div class="col-auto">
                            <label for="size">Size:</label>
                            <select class="form-control" id="size" name="size" th:value="${payments.metadata.size}">
                                <option value="5000">all</option>
                                <option value="5">5</option>
                                <option value="20">20</option>
                                <option value="50">50</option>
                                <option value="100">100</option>
                            </select>
                        </div>
                        <div class="col-auto">
                            <button class="btn btn-dark" type="submit">Filter</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="container">
        <h1>Мои оплаты</h1>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Payment id</th>
                <th>Shop name</th>
                <th>amount</th>
                <th>Paid by card</th>
                <th>Payment time</th>
                <th>Status</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="payment : ${payments.content}" th:if="${payment.clientId() == session.clientId}">
                <td th:text="${payment.id()}"></td>
                <td th:text="${payment.shopName()}"></td>
                <td th:text="${payment.amount()}"></td>
                <td th:text="${payment.cardId()}"></td>
                <td th:text="${payment.timeOfPay()}"></td>
                <td th:class="${payment.status().name()  ==  'SUCCESS' ? 'text-success' : 'text-danger'}"
                    th:text="${payment.status().name()}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>