<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Список платежей</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .btn-filter {
            background-color: #007bff;
            color: #fff;
        }

        .btn-update-status {
            display: inline-block;
            vertical-align: middle;
        }
    </style>
</head>

<header>
    <div class="container border-top" style="border-top: darkslategray">
        <a style="color: black" th:href="@{'/clients/home/' + ${session.clientId}}">Home</a>
    </div>
</header>

<body>
<div class="container">
    <form th:action="@{/payments/{id}/create(id=${session.clientId})}" method="post">
        <input type="hidden" id="clientId" name="clientId" th:value="${session.clientId}">
        <button type="submit" class="btn btn-primary">Make a payment</button>
    </form>
</div>


<div class="container">
    <h1>Мои оплаты</h1>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Payment id</th>
            <th>Shop name</th>
            <th>amount</th>
            <th>Paid by card</th>
            <th>Payment time</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="payment : ${payments}">
            <td th:text="${payment.id()}"></td>
            <td th:text="${payment.shopName()}"></td>
            <td th:text="${payment.amount()}"></td>
            <td th:text="${payment.cardId()}"></td>
            <td th:text="${payment.timeOfPay()}"></td>
            <td th:text="${payment.status().name()}"
                th:class="${payment.status().name()  ==  'SUCCESS' ? 'text-success' : 'text-danger'}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>