<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="2;url=/payments/mypayments">
    <title>Card Created</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="center">
        <img src="https://img.freepik.com/premium-vector/green-check-mark-3d-icon_165488-3301.jpg"
             class="img-fluid" style="max-width: 150px; max-height: 150px;">
    </div>
    <div class="text-center">
        <h1>Платеж совершен</h1>
    </div>
</div>

</body>
</html>