<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Список карт</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <style>
        .card-title,
        .form-group label {
            text-align: center;
        }

        .card {
            width: 109px; /* Ширина формы */
            margin: 0 auto; /* Центрирование формы по горизонтали */
            margin-top: 10px; /* Отступ сверху */

        }
    </style>
</head>

<header>
    <div th:insert="~{navbar :: navbar}"></div>
</header>

<body>

<div class="container">
    <div class="card">
        <form th:action="@{/cards/create}" method="post">
            <input type="hidden" id="clientId" name="clientId" th:value="${session.clientId}">
            <button type="submit" class="btn btn-success">Create card</button>
        </form>
    </div>
    <h1 class="card-title">My cards</h1>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Card number</th>
            <th>Balance</th>
            <th>Expire date</th>
            <th>Status</th>
            <th>Replenish</th>
            <th>Block</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="card : ${cards}">
            <td th:text="${card.id()}"></td>
            <td th:text="${card.balance()}"></td>
            <td th:text="${card.expireDate()}"></td>
            <td th:text="${card.status().name()}"
                th:class="${card.status().name()  ==  'ACTIVE' ? 'text-success' : (card.status().name() == 'BLOCKED' ? 'text-danger' : 'text-warning')}"></td>
            <td>
                <form th:if="${card.status().name() == 'ACTIVE'}"
                      th:action="@{/replenishments/replenishment/{cardId}(cardId=${card.id})}"
                      method="get">
                    <button class="btn btn-outline-success" type="submit">replenish
                    </button>
                </form>
            </td>
            <td>
                <form th:if="${card.status().name() == 'ACTIVE' and card.balance() == 0}"
                      th:action="@{/cards/{cardId}/update(cardId=${card.id})}"
                      method="post">
                    <button class="btn btn-outline-danger" type="submit" onclick="return confirmDelete()">block card
                    </button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script type="text/javascript">
    function confirmDelete() {
        return confirm("Are you sure do you want to block this card?");
    }
</script>
</body>
</html>