<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="2;url=/cards/cards" http-equiv="refresh">
    <title>Card Created</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="center">
        <img class="img-fluid"
             src="https://img.freepik.com/premium-vector/green-check-mark-3d-icon_165488-3301.jpg" style="max-width: 150px; max-height: 150px;">
    </div>
    <div class="text-center">
        <h1>Карта создана</h1>
    </div>
</div>

</body>
</html>