<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Replenishments</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<style>
    .user-balance {
        flex-grow: 1; /* Занимает все доступное пространство в строке */
        text-align: center; /* Выравнивание текста по центру */
        color: #02f833;
        font-size: large;
    }
</style>
<header>
    <div th:insert="~{navbar :: navbar}"></div>
</header>
<body>
<div class="container mt6-m">
    <div class="row justify-content-center mt-5">
        <div class="col-md-6">
            <form action="/replenishments/clientReplenishments">
                <div class="form-row align-items-xl-center">
                    <div class="col-auto">
                        <input class="form-control" name="id" placeholder="id" th:value="${filter.id()}"
                               type="number">
                    </div>
                    <div class="col-auto">
                        <input class="form-control" name="cardNo" placeholder="card Id"
                               th:value="${filter.cardNo()}" type="text">
                    </div>
                    <div class="col-auto">
                        <input class="form-control" name="amount" placeholder="amount"
                               th:value="${filter.amount()}" type="number">
                    </div>
                    <div class="col-auto">
                        <input class="form-control" name="timeOfReplenishment" placeholder="time"
                               th:value="${filter.timeOfReplenishment()}" type="text">
                    </div>
                    <div class="col-auto">
                        <input autocomplete="off" class="btn-check" id="status" name="status" type="radio"
                               value="SUCCESS">
                        <label class="btn btn-outline-success" for="status">Success</label>
                        <input autocomplete="off" class="btn-check" id="status1" name="status" type="radio"
                               value="FAILED">
                        <label class="btn btn-outline-danger" for="status1">Failed</label>
                    </div>

                    <div class="col-auto">
                        <label for="page">Page:</label>
                        <input class="form-control" id="page" name="page" th:value="${replenishments.metadata.page}"
                               type="number">
                    </div>
                    <div class="col-auto">
                        <label for="size">Size:</label>
                        <select class="form-control" id="size" name="size" th:value="${replenishments.metadata.size}">
                            <option value="5000">all</option>
                            <option value="5">5</option>
                            <option value="20">20</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                        </select>
                    </div>
                    <div class="col-auto">
                        <button class="btn btn-dark" type="submit">Filter</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="container">
    <h1>My replenishment</h1>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Replenishment id</th>
            <th>Card number</th>
            <th>Amount</th>
            <th>Time</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="replenishment : ${replenishments.content}">
            <td th:text="${replenishment.id()}"></td>
            <td th:text="${replenishment.cardNo()}"></td>
            <td th:text="${replenishment.amount()}"></td>
            <td th:text="${replenishment.timeOfReplenishment()}"></td>
            <td th:class="${replenishment.status().name()  ==  'SUCCESS' ? 'text-success' : 'text-danger'}"
                th:text="${replenishment.status().name()}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>