<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Clients</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .btn-filter {
            background-color: #007bff;
            color: #fff;
        }

        .btn-update-status {
            display: inline-block;
            vertical-align: middle;
        }
    </style>
</head>
<header>
    <div th:insert="~{adminHeader :: admin-header}"></div>
</header>
<body>
<div class="container mt6-m">
    <div class="row justify-content-center mt-5">
        <div class="col-md-6">
            <form action="/clients">
                <div class="form-row align-items-xl-center">
                    <div class="col-auto">
                        <label for="id">Id:</label>
                        <input class="form-control" id="id" name="id" th:value="${filter.id()}" type="text">
                    </div>
                    <div class="col-auto">
                        <label for="userId">User Id:</label>
                        <input class="form-control" id="userId" name="userId" th:value="${filter.userId()}" type="text">
                    </div>
                    <div class="col-auto">
                        <label for="firstName">First name:</label>
                        <input class="form-control" id="firstName" name="firstName" th:value="${filter.firstName()}"
                               type="text">
                    </div>
                    <div class="col-auto">
                        <label for="lastName">Last name:</label>
                        <input class="form-control" id="lastName" name="lastName" th:value="${filter.lastName()}"
                               type="text">
                    </div>
                    <div class="col-auto">
                        <label for="phone">Phone:</label>
                        <input class="form-control" id="phone" name="phone" th:value="${filter.phone()}" type="text">
                    </div>
                    <div class="col-auto">
                        <label for="balance">Balance:</label>
                        <input class="form-control" id="balance" name="balance" th:value="${filter.balance()}"
                               type="text">
                    </div>

                    <div class="col-auto">
                        <label for="status">Status:</label>
                        <input class="form-control" id="status" name="status" th:value="${filter.status()}" type="text">
                    </div>
                    <div class="col-auto">
                        <label for="page">Page:</label>
                        <input class="form-control" id="page" name="page" th:value="${clients.metadata.page}"
                               type="number">
                    </div>
                    <div class="col-auto">
                        <label for="size">Size:</label>
                        <select class="form-control" id="size" name="size" th:value="${clients.metadata.size}">
                            <option value="5">5</option>
                            <option value="20">20</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                        </select>
                    </div>
                    <div class="col-auto">
                        <button class="btn btn-filter" type="submit">Filter</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="container">
    <h1>Clients list</h1>
    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>UserId</th>
            <th>First name</th>
            <th>Last name</th>
            <th>Phone</th>
            <th>Balance</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="client : ${clients.content}">
            <td><a th:href="@{'/clients/' + ${client.id}}" th:text="${client.getId()}"></a></td>
            <td><a th:href="@{'/users/' + ${client.userId}}" th:text="${client.getUserId().getId()}"></a></td>
            <td th:text="${client.getFirstName()}"></td>
            <td th:text="${client.getLastName()}"></td>
            <td th:text="${client.getPhone()}"></td>
            <td th:text="${client.getBalance()}"></td>
            <td th:class="${client.getStatus().name()  ==  'ACTIVE' ? 'text-success' :  'text-danger'}"
                th:text="${client.getStatus()}"></td>
            <td>
                <form method="post"
                      th:action="@{/clients/{clientId}/update-by-admin(clientId=${client.id})}"
                      th:if="${client.getStatus().name()  ==  'ACTIVE'}">
                    <input name="balance" th:value="${client.balance}" type="hidden">
                    <input name="userId" th:value="${client.userId.id}" type="hidden">
                    <input name="firstName" th:value="${client.firstName}" type="hidden">
                    <input name="lastName" th:value="${client.lastName}" type="hidden">
                    <input name="phone" th:value="${client.phone}" type="hidden">
                    <input name="status" th:value="${client.status}" type="hidden">
                    <button class="btn btn-outline-danger" type="submit">Block client</button>
                </form>

                <form method="post"
                      th:action="@{/clients/{clientId}/update-by-admin(clientId=${client.id})}"
                      th:if="${client.getStatus().name()  ==  'BLOCKED'}">
                    <input name="balance" th:value="${client.balance}" type="hidden">
                    <input name="userId" th:value="${client.userId.id}" type="hidden">
                    <input name="firstName" th:value="${client.firstName}" type="hidden">
                    <input name="lastName" th:value="${client.lastName}" type="hidden">
                    <input name="phone" th:value="${client.phone}" type="hidden">
                    <input name="status" th:value="${client.status}" type="hidden">
                    <button class="btn btn-outline-success" type="submit">Unblock client</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>


