<!DOCTYPE html>
<html lang="en">
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

<head>
    <meta charset="UTF-8">
    <title>Fragments</title>
</head>
<body>

<div class="container" th:fragment="header">
    <form method="post" th:action="@{/logout}">
        <button class="btn btn-outline-danger" type="submit">Logout</button>
    </form>
</div>
<div th:fragment="locale">
    <form action="" class="dt-row-group center">
        <button class="btn btn-outline-dark" name="lang" onchange="this.form.submit()" type="submit" value="en">EN
        </button>
        <button class="btn btn-outline-dark" name="lang" onchange="this.form.submit()" type="submit" value="ru">RU
        </button>
    </form>
</div>
</body>
</html>