<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<head>
    <meta charset="UTF-8">
    <title>Fragments</title>
</head>
<body>

<div th:fragment="header" class="container">
    <form th:action="@{/logout}" method="post">
        <button type="submit" class="btn btn-outline-danger">Logout</button>
    </form>
<!--    <div th:insert="~{fragment :: locale}"></div>-->
</div>
<div th:fragment="locale">
    <form class="dt-row-group center" action="">
            <button type="submit" class="btn btn-outline-dark" name="lang" value="en" onchange="this.form.submit()">EN</button>
            <button type="submit" class="btn btn-outline-dark" name="lang" value="ru" onchange="this.form.submit()">RU</button>
    </form>
</div>

<!--<div th:fragment="locale">-->
<!--    <form action="">-->
<!--        <label>-->
<!--            <select name="lang" onchange="this.form.submit()">-->
<!--                <option></option>-->
<!--                <option value="en">EN</option>-->
<!--                <option value="ru">RU</option>-->
<!--            </select>-->
<!--        </label>-->
<!--    </form>-->
<!--</div>-->
</body>
</html>