<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>header</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>


<nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="/docs/5.3/assets/brand/bootstrap-logo.svg" alt="Logo" width="30" height="24"
                 class="d-inline-block align-text-top">
            Bootstrap
        </a>
    </div>
</nav>

<div th:fragment="navbar">
    <nav class="navbar bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" th:href="@{/clients/home/${session.clientId}}"> <img
                    src="https://sun9-54.userapi.com/impg/NG3eBTkVcpcI9_Z-x2-M9Jbrjih_bvwX6n0DOw/OiwGHaMeF30.jpg?size=387x374&quality=96&sign=74ea182f1583a9b083a2bc5843aa61c4&type=album"
                    alt="Logo" width="30" height="24"
                    class="d-inline-block align-text-top">
                PSystem</a>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        Edit account
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Login & Password</a></li>
                        <li><a class="dropdown-item" href="#">Other info</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Edit account</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">My payments</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">My transfers</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">My transfers</a>
                </li>
            </ul>
            <form th:action="@{/logout}" method="post">
                <button type="submit" class="btn btn-outline-danger">Logout</button>
            </form>


            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Переключатель навигации">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Главная</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Ссылка</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                           aria-expanded="false">
                            Выпадающий список
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Действие</a></li>
                            <li><a class="dropdown-item" href="#">Другое действие</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Что-то еще здесь</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled">Отключенная</a>
                    </li>
                </ul>
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Поиск" aria-label="Поиск">
                    <button class="btn btn-outline-success" type="submit">Поиск</button>
                </form>
            </div>
        </div>
    </nav>

</div>
</body>
</html>