<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Header</title>
    <link href="/webjars/bootstrap/5.1.3/css/bootstrap.min.css" rel="stylesheet">
    <style>


        .user-balance {
            flex-grow: 1; /* Занимает все доступное пространство в строке */
            text-align: center; /* Выравнивание текста по центру */
            color: #02f833;
            font-size: large;
        }


        nav {
            display: flex;
            justify-content: space-around;
        }

        section {
            padding: 20px;
            color: white;
        }
    </style>
</head>
<body>

<div th:fragment="navbar">
    <nav class="navbar navbar-dark navbar-expand-md bg-dark py-3">
        <div class="container-fluid d-flex justify-content-between align-items-center">
            <a class="navbar-brand" th:href="@{'/clients/home/' + ${session.clientId}}">
                <img alt="Logo"
                     class="d-inline-block align-text-top" height="32" src="https://www.freedownloadlogo.com/logos/p/photoshop-cc-7.svg" width="40">
                PSystem
            </a>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 d-flex flex-row">
                <li class="nav-item">
                    <a aria-current="page" class="nav-link active" href="/payments/clientPayments"><span
                            th:text="#{home.Mypayments}">My payments</span></a>
                </li>
                <li class="nav-item">
                    <a aria-current="page" class="nav-link active" href="/transfers/clientTransfers"><span
                            th:text="#{home.Mytransfers}">My transfers</span></a>
                </li>
                <li class="nav-item">
                    <a aria-current="page" class="nav-link active" href="/replenishments/clientReplenishments"><span
                            th:text="#{home.Myreplenishments}">My replenishments</span></a>
                </li>
                <li class="nav-item">
                    <a aria-current="page" class="nav-link active" href="/cards/cards"><span th:text="#{home.Mycards}">My cards</span></a>
                </li>
                <li class="nav-item dropdown">
                    <a aria-expanded="false" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#"
                       role="button">
                        <span th:text="#{home.Myprofile}">Update profile</span>
                    </a>
                    <ul class="dropdown-menu position-static">
                        <li><a class="dropdown-item" th:href="@{/users/{userId}(userId=${session.userId})}">
                            <span th:text="#{home.LoginPassword}">Login & Password</span></a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" th:href="@{/clients/client}">
                            <span th:text="#{home.NamePhone}">Phone&data</span></a>
                        </li>
                    </ul>
                </li>
            </ul>
            <div class="user-balance">
                <p class="mb-0"><span th:text="#{home.Balance}">Balance:</span> <span
                        th:text="${session.balance}"></span></p>
            </div>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 d-flex flex-row">

                <form action="" class="dt-row-group center">
                    <button class="btn btn-outline-light" name="lang" onchange="this.form.submit()" type="submit"
                            value="en">EN
                    </button>
                    <button class="btn btn-outline-light" name="lang" onchange="this.form.submit()" type="submit"
                            value="ru">RU
                    </button>
                </form>
            </ul>
            <form method="post" th:action="@{/logout}">
                <button class="btn btn-danger" type="submit"><span th:text="#{home.Logout}">Logout</span></button>
            </form>
        </div>
    </nav>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>