# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/sqlDataSources.xml
/encodings.xml
/vcs.xml
/claudeCodeTabState.xml
/dataSources.xml
/misc.xml
/claudeCodeEditorTabs.xml
/uiDesigner.xml
